<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/estilosformularios.css">
  <link rel="stylesheet" href="css/estilos.css">
  <script src="https://kit.fontawesome.com/a01a75bbd0.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="images/ZNlogoMusicTransparentLittle.png" type="image/x-icon">
  <title>Inicio de Sesion</title>
</head>
<body>
    <header>
        <nav class="contenedormenu">
            <div class="logo" onclick="location.href='index';">
                <img src="images/LogoZanjarLetrasTransparente.png">
            </div>
            <div class="enlaces">
                <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i>Regresar</a>

            </div>
            

            <div class="hamburguesa">
                <i class="fa-solid fa-bars" id="hamburguesa"></i>
            </div>

        </nav>
    </header>
    <main class="espacioform">
        <form action="" class="form-register">
            <h4>Inicio de Sesion</h4>
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <button class="botons" type="submit" value="Registrar" ><a th:href="@{perfilusuario}">Ingresar</a></button>
            <p>No tengo una cuenta                    <a th:href="@{formularioregis}"><b>Registrarme</b></a></p>
        </form>
        
        <div class="socialesfooo">
            <p>| One Tap | ©United Networks | 2023 |</p><a th:href="@{terminoslicencias}">Terminos y Condiciones</a><p>|</p>
        </div>
        
    </main>

    <script src="js/main.js"></script>
</body>

</html>